@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #4F46E5;
    --secondary: #6366F1;
    --bg-light: #F9FAFB;
    --card-light: #FFFFFF;
    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --text-dark: #E5E7EB;
    --branco: #fff;

    /* Transição */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--bg-light);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

    .sidebar image{
        min-width: 60px;
        display: flex;
        align-items: center;

    }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--branco);
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    gap: 12px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;

}

.header-text .name{
    font-size: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header toggle{
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}