@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #4F46E5;
    --secondary: #6366F1;
    --bg-light: #F9FAFB;
    --card-light: #FFFFFF;
    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --text-dark: #E5E7EB;
    --branco: #fff;
    --preto: #000;

    /* Transição */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--bg-light);
}

.sidebar {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--branco);
    transition: var(--tran-05);
}

.sidebar.close .text {
    width: 88px;
}

.sidebar.close {
    width: 88px;
}


.sidebar li {
    height: 50px;
    margin-top: 10px;
    ;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--primary);
    transition: var(--tran-02);
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    gap: 12px;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;

}

.header-text .name {
    font-size: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--branco);
    font-size: 22px;
}

.sidebar .search-box {
    background: var(--bg-light);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--bg-light);

}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--branco);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--bg-light);
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    border: 2px solid var(--preto);
    background: var(--branco);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--primary);
    transition: var(--tran-03);
}

.body.dark .switch::before {
    left: 25px;
}